.home__button:hover {
  background-color: rgb(148, 146, 143);
  border-radius: 18px;
}

.user__botton:hover {
  background-color: rgb(148, 146, 143);
  border-radius: 99px;
}

.bookmarks__button:hover {
  background-color: rgb(148, 146, 143);
  border-radius: 18px;
}

footer {
  background-color: var(--themecolor);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
