* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
}

div {
  background-color: rgb(45, 119, 151);
}

.head {
  position: sticky;
  top: 0;
  z-index: 1;
}
img {
  width: 3rem;
  height: 3rem;
}

h1 {
  text-decoration: underline rgb(81, 61, 88) solid;
}

.info {
  background-color: rgb(158, 158, 197);
  border-radius: 15px;
  text-align: center;
  margin: auto;
  padding: 5rem;
  height: 35vh;
  width: 55vh;
  margin-top: 2rem;
  display: fit-content;
  position: relative;
}

.bookmark {
  border-radius: 15px;
  min-width: 40px;
  min-height: 40px;
  padding: 2px;
  display: inline-block;
  position: absolute;
  top: -16px;
  right: 16px;
}

.bookmarkicon {
  min-width: 40px;
  min-height: 40px;
}
.question {
  background-color: rgb(158, 158, 197);
  display: inline-block;
  position: absolute;
  font-weight: bold;
  top: 3rem;
  right: 1em;
}

.answer {
  background-color: beige;
  border-radius: 15px;
  height: 10vh;
  width: 30vh;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 7rem;
}

.tag {
  background-color: beige;
  border-radius: 15px;
  min-width: 1vh;
  min-height: 1.5vh;
  padding: 0.5rem;
}

.tagcontainer {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

footer {
  background-color: rgb(45, 119, 151);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navigation {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
